body {
    background-color: rgba(224, 232, 237, 0.31);
}

span {
    font-size: 20px;
    font-family: "Microsoft YaHei";
}

#right {
    position: absolute;
    right: 10px;
    width: 400px;
    height: 500px;
    padding: 20px;
}

#time {
    width: 180px;
}

.dino {
    background-color: transparent;
    font-size: 20px;
    color: blue;
    font-family: "Microsoft YaHei";
    border: solid 3px blue;
    border-radius: 10px;
    padding: 5px;
}

#start:hover {
    transform: scale(1.05);
}